html, body {
  overflow: auto !important;
}

.v-select.v-text-field--outlined:not(.v-text-field--single-line).v-input--dense .v-select__selections {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
  
.vti__flag {
   margin-right: 0 !important;
}

/* tr:nth-child(even) {
    background-color: #FFE082 !important;
} */

.map {
  height: 100vh !important;
  width: 100vw !important;
}

.leaflet-routing-container.leaflet-bar.leaflet-control {
  display: none !important;
}

img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive.leaflet-marker-draggable {
    width: 40px !important;
    height: 40px !important;
}

div.leaflet-control-zoom {
  border: none !important;
}

.leaflet-bar a { 
  border-color: transparent !important;
}

.leaflet-control-zoom a {
  color: white !important;
  background: rgba(0, 0, 0, 0.5) !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: all 0.5s ease;
}

.leaflet-control-zoom a:hover {
  color: white !important;
  background: rgba(0, 0, 0, 0.9) !important;
}

div.leaflet-control-geosearch form {
  height: 30px !important;
  border-radius: 2px !important;
  line-height: 30px !important;
}

a.reset {
  line-height: 30px !important;
  height: 30px !important;
}

td {
  min-width: 9rem !important;
  white-space: nowrap !important;
}

.leaflet-top {
  top: 70px !important;
}

.fr-wrapper {
  max-height: 40vh;
  overflow-y: auto;
}